<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/app.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo de Especies</title>
</head>
<body class="bg-blue-950 flex flex-col min-h-screen">

    {% include 'navbar.html' %}
    {% block content %}
    {% endblock %}
    <script src="{{ url_for('static', path='/js/utils.js') }}" defer></script>
</body>
</html>