<div >
    <nav class="p-4 bg-slate-950">
        <a class="text-slate-400 font-bold" href="#">Species Catalogue</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if user %}
                <li class="nav-item active">
                    <a class="nav-link" href="/catalogo/home-page">Home</a>
                </li>
                {% endif %}
            </ul>
 
            <ul class="navbar-nav ml-auto">
                {% if user %}
                <li class="nav-item m-1">
                    <a type="button" class="btn btn-outline-light text-white" onclick="logout()">Logout</a>
                </li>
                {% endif %}
            </ul>

        </div>
    </nav>
</div>